@*<h1 id="judul">Hello World</h1>
    <div id="container">
        <section id="a">
            <p class="p1">paragraf 1</p>
            <a href="#">Ini Link</a>
            <p class="p2">paragraf 2</p>
            <p class="p3">paragraf 3</p>
        </section>

        <section id="b">
            <p id="a">paragraf 4</p>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </section>
    </div>*@

@*<hi>STARWAR API</hi>
    <ul id="detail">
        <li></li>
    </ul>*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>

    <tbody id="swap1">
    </tbody>
</table>


<div class="modal fade" id="StarWars" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Pokemon Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@*<table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Eye Color</th>
                <th scope="col">Hair Color</th>
                <th scope="col">Skin Color</th>
                <th scope="col">Created</th>
                <th scope="col">Film</th>
            </tr>
        </thead>

        <tbody id="detail">
        </tbody>
    </table>*@

@*<table class="table" id=" displaytable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Height</th>
            </tr>
        </thead>

        <tbody id="detail">
        </tbody>
    </table>*@






@*<table class="table">
       <thead class="thead-dark">
           <tr>
               <td>No</td>
               <td>Name</td>
           </tr>
       </thead>
       <tbody id>
           <tr>
           </tr>
       <tbody>
    </table>*@

@section Scripts {
    <script src="~/js/latihanJs.js"></script>
}
